<html>
<head>
    <title>accounts - <%= result[0].account_name %></title>
</head>
<body>
    <h1>accounts</h1>
    <ul>
        <li>account ID: <%= result[0].account_id%></li>
        <li>account Name: <%= result[0].account_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>