<html>
<head>
    <title>resumes - <%= result[0].resume_name %></title>
</head>
<body>
    <h1>resumes</h1>
    <ul>
        <li>resume ID: <%= result[0].resume_id%></li>
        <li>resume Name: <%= result[0].resume_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>