<html>
<head>
    <title>skills - <%= result[0].skill_name %></title>
</head>
<body>
    <h1>skills</h1>
    <ul>
        <li>skill ID: <%= result[0].skill_id%></li>
        <li>skill Name: <%= result[0].skill_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>