<html>
<head>
    <title>addresss - <%= result[0].address_name %></title>
</head>
<body>
    <h1>addresss</h1>
    <ul>
        <li>address ID: <%= result[0].address_id%></li>
        <li>address Name: <%= result[0].address_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>